/*Yêu cầu 1 */
body{
    background: #f2f2f2;
}

#find-custom .caption-inner{
    text-align: left;
    max-width: 1000px;
}

#find-custom .caption-inner .description{
    color: #e3e3e1;
    margin-bottom: 10px;
}
#find-custom .caption-inner .title{
    font-weight: 500;
}
.title, .description{
    text-align: left;
   
}
#find-custom .banner-caption .form-wrap {
    margin-top: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);

}

#find-custom .banner-caption .jobscout_job_filters .search_jobs input[type="submit"]{
    background: #ea751e;
    color: #ffff;
    text-indent: 0;
    width: 100%;
    font-weight: 500;
    padding-left: unset;
}

#find-custom .banner-caption .jobscout_job_filters .search_jobs input{
    height: 50px;
    background: none;
    padding-left: 50px;
    font-weight: 500;
    font-size: 1em;
}

#find-custom .banner-caption .jobscout_job_filters .search_jobs select{
    height: 50px;
    background: none;
    padding-left: 45px;
    font-weight: 500;
    font-size: 1em;
    color: #aeaeae;
    margin-right: 15px;
}

#find-custom .banner-caption .jobscout_job_filters .search_jobs select:focus-visible{
    outline: none;
}

#find-custom .banner-caption .jobscout_job_filters .search_jobs input::placeholder{
    color: #aeaeae !important;
}

#find-custom .banner-caption .jobscout_job_filters .search_jobs{
    border-radius: 0;
    display: unset;
}

#find-custom .banner-caption .jobscout_job_filters .search_jobs div.search_keywords svg{
    position: absolute;
    bottom: 14px;
    margin-left: 20px;
}

#find-custom .banner-caption .jobscout_job_filters .search_jobs div.search_location svg{
    position: absolute;
    bottom: 14px;
    margin-left: 20px;
}

#find-custom .banner-caption .jobscout_job_filters .search_jobs div.search_location svg#svg-chevron{
    right: 20px;
    bottom: 15px;
}

#find-custom .banner-caption .jobscout_job_filters .search_jobs div.search_keywords{
    background: #fff;
    box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.5);
    position: relative;
}

#find-custom .banner-caption .jobscout_job_filters .search_jobs div.search_location{
    background: #fff;
    box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.5);
    position: relative;
}

#find-custom .banner-caption .jobscout_job_filters .search_submit{
    box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.5);
}

.rightsidebar .custom-page #primary{
    float: unset;
    width: 100%;
    padding-right: unset;
}
/*End yêu cầu 1 */
/* yêu cầu 2 */
#newest-blog .blog-all-item{
    padding-top: 0;
    width: 600;
    margin: 0 auto;
 }
 
 #newest-blog .section-title{
     font-weight: 600;
  }
 
 #newest-blog .post{
    margin-top: 20px;
  }
 
 #newest-blog .blog-all-item .blog-item figure.post-thumbnail{
     margin-bottom: 0px;
 }
 
 #newest-blog .blog-all-item .blog-item .entry-header .entry-title a{
     text-decoration: none;
     font-weight: bold; 
     font-size: 20px;
     font-weight: 600;
     margin-bottom: 1em;
 }
 
 #newest-blog .blog-all-item .blog-item .blog-item-text{
     text-align: left;
 }
 
 #newest-blog .blog-all-item .blog-item .blog-item-text .read-more a{
    color: #ea751e;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
 }
 #newest-blog .blog-all-item .blog-item .blog-item-text .entry-excerpt{
     font-size: 17px;    
     margin-bottom: 1em;
 }
 
 
 #newest-blog .blog-all-item .blog-item .blog-item1{
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);  
 }
 #newest-blog .blog-all-item .blog-item .entry-header .entry-title a:hover{
     color: #ea751e;
 }
#newest-blog .row.blog-all-item {
    display: flex;
    flex-wrap: wrap;
}

#newest-blog .col-md-6.blog-item {
    display: flex;
}

#newest-blog .p-3.bg-light.blog-item1 {
    display: flex;
    flex-direction: column;
}

#newest-blog .col-md-6.blog-item .blog-item1 {
    flex: 1;
}
/* End yêu cầu 3 */